#us #election {
 width:  500px;
 height: 40px;
 background: rgba(0,0,0,0.5);
 z-index: 1;
 display: none;
}

#us #news {
  width: 100px
  height: 100px;
  border-width: 3px;
}

.upper {
  width: 900px;
}

#calc {
  width: 200px;
  min-width: 200px;
  /*max-width: 200px;*/
  margin: 0 auto;
  padding: 5px 5px;
  text-align: center;
  background-color: #9dd2ea;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #009de4;
  box-shadow: 2px 0px 2px #009de4;
  position: relative;
  opacity: 0.8;
}

#last-answer {
  background-color: khaki;
/*  width: 30px;*/
  height: 30px;
  position: absolute;
  top: 12px;
  left: 20px;
  display: none;
}

#calc .result {
  width: 80%;
  font-size: xx-large;
  text-align: right;
  padding-right: 0.3em;
  margin-bottom: 5px;
  box-shadow: inset 2px 3px;
}

#calc button {
  width: 20%;
  font-size: x-large;
  border-width: 3px;
  cursor: pointer;
  background: white;
}

#calc .zero {
  width: 130px;
}

#calc .ora{
  background-color: #FF9900;
  border-color: #FF9900;
  color: white;
  font-size: large;
}


